.center { margin-left: auto; margin-right: auto; width: 100% }
.floor { height: 200px; width: 200px }
.floor table { height: 100%; width: 100%; }
.floor td { width: 4%; height: 4% }
.floor td.tile {
	width: 22%;
	height: 22%;
	background: #c0c0c0;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 1px 1px 1px;
}
.floor td.wall { background-color: black; box-shadow: 1px 1px 1px grey;}
