body, html {
	width: 100%
}
body {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color: black;
}
a, a:visited, a:hover {
	color: black;
}
.center {
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

.floorContainer {
	float: left;
	margin: 10px;
	width: 242px;
}

.floor {
	height: 242px;
	width: 242px
}

.floor table {
	height: 100%;
	width: 100%;
}

.floor td {
	width: 2%;
	height: 2%
}

.floor td.tile {
	width: 18%;
	height: 18%;
	background: #fcb543;
	border: 1px solid #fcb543;
	border-radius: 5px;
}

.floor td.wall {
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
}

button {
	border-radius: 5px;
	background: #c9c9c9;
	padding: 1em;
	margin: .5em;
}
.hidden {
	display: none;
}
